body {
    background-color: lightblue;
    text-align: center;
    font-family: Arial;
}

h1 {
    color: darkblue;
}

p {
    color: #333;
}

button {
    background: pink;
    color: white;
    padding: 10px;
    border: none;
}
